body{
background:#120a8f;
}
.navbar{
    background-color: white;
    position: fixed;
}
.brand a{
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 550;
    color: #fff;
    margin-left: 20px;
}
.navitem{
    color: #fff;
}
.s{
    background:rgb(81, 71, 71);
    border-radius: 20px;
}